<div ng-controller="ClientCtrl as ctrl">

    <div class="row border-bottom ng-scope top-button-panel">

        <ul class="pull-left nav-path font-bold">
           <li ng-repeat="item in viewsList track by $index" ng-class="{active: templateURL['url']==item.url }">
                <a ng-click="templateURL['url'] = item.url; templateURL.pageNo=$index;">{{item.name}}</a>
            </li>
        </ul>

        <div class="btn-group pull-right m-t-sm" ng-show="templateURL.pageNo==0">
            <!--<a class="btn btn-default" ng-click="import()"><i class="fa fa-inbox"></i>&nbsp;&nbsp;Import Attendance</a>-->
            <a class="btn btn-danger" ng-click="delete()">
                <i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>
            <button class="btn btn-success" ng-click="save()">
                <i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
        </div>

    </div>

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-11">
                <form class="form-horizontal" name="userForm" autocomplete="off" novalidate>

                    <div>{{$state}}</div>

                    <div class="ibox">

                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group" ng-class="{ 'has-error' : userForm.ClientCode.$invalid && submitted  }">
                                        <label class="col-lg-4 control-label">Code</label>

                                        <div class="col-lg-8">

                                            <ui-select ng-model="clientObj.ClientCode" name="ClientCode" theme="bootstrap" required on-select="ui_select_change('Client'); clientIDChange();"
                                                reset-search-input="false" title="Please Select">
                                                <ui-select-match placeholder="Please Select">{{$select.selected.Code}}</ui-select-match>
                                                <ui-select-choices repeat="item.Code as item in refresh_ui_select_list['Client'] track by $index" refresh="refresh_ui_select('Client', $select.search, 0, 1)"
                                                    refresh-delay="0">
                                                    <div>
                                                        <span ng-bind-html="item.Code | highlight: $select.search"></span>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <p ng-show="userForm.ClientCode.$invalid && submitted" class="help-block">Code required.</p>

                                        </div>

                                    </div>

                                </div>



                                <div class="col-lg-6">

                                    <div class="form-group" ng-class="{ 'has-error' : userForm.Location.$invalid && submitted  }">
                                        <label class="col-lg-4 control-label">Location</label>

                                        <div class="col-lg-8">

                                            <input type="text" required class="form-control" name="Location" ng-model="clientObj.Location" />


                                            <p ng-show="userForm.Location.$invalid && submitted" class="help-block">Name required.</p>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-lg-6">

                                    <div class="form-group" ng-class="{ 'has-error' : userForm.ClientName.$invalid && submitted  }">
                                        <label class="col-lg-4 control-label">Name</label>

                                        <div class="col-lg-8">

                                            <input type="text" required class="form-control" name="ClientName" ng-model="clientObj.ClientName" />


                                            <p ng-show="userForm.ClientName.$invalid && submitted" class="help-block">Name required.</p>
                                        </div>

                                    </div>

                                </div>
                                <!-- </div>
                             
                            <div class="row"> -->
                                <div class="col-lg-6">

                                    <div class="form-group" ng-class="{ 'has-error' : userForm.Phone.$invalid && submitted  }">
                                        <label class="col-lg-4 control-label">Phone</label>

                                        <div class="col-lg-8">

                                            <input type="text" required class="form-control" name="Phone" ng-model="clientObj.Phone" />


                                            <p ng-show="userForm.Phone.$invalid && submitted" class="help-block">Phone required.</p>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group" ng-class="{ 'has-error' : userForm.Fax.$invalid && submitted  }">
                                        <label class="col-lg-4 control-label">Fax</label>

                                        <div class="col-lg-8">
                                            <input type="text" required class="form-control" name="Fax" ng-model="clientObj.Fax" />
                                            <p ng-show="userForm.Fax.$invalid && submitted" class="help-block">Fax required.</p>
                                        </div>

                                    </div>

                                </div>
                                <!-- </div>
                             


                            <div class="row"> -->
                                <div class="col-lg-6">

                                    <div class="form-group" ng-class="{ 'has-error' : userForm.ContactPerson.$invalid && submitted  }">
                                        <label class="col-lg-4 control-label">Contact Person</label>

                                        <div class="col-lg-8">

                                            <input type="text" required class="form-control" name="ContactPerson" ng-model="clientObj.ContactPerson" />


                                            <p ng-show="userForm.ContactPerson.$invalid && submitted" class="help-block">Contact Person required.</p>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group" ng-class="{ 'has-error' : userForm.ContactPhone.$invalid && submitted  }">
                                        <label class="col-lg-4 control-label">Contact Phone</label>

                                        <div class="col-lg-8">

                                            <input type="text" required class="form-control" name="ContactPhone" ng-model="clientObj.ContactPhone" />


                                            <p ng-show="userForm.ContactPhone.$invalid && submitted" class="help-block">Contact Person required.</p>
                                        </div>

                                    </div>

                                </div>
                                <!-- </div>

                            <div class="row"> -->

                                <div class="col-lg-6">

                                    <div class="form-group" ng-class="{ 'has-error' : userForm.Address.$invalid && submitted  }">
                                        <label class="col-lg-4 control-label">Address</label>

                                        <div class="col-lg-8">
                                            <textarea required class="form-control" name="Address" ng-model="clientObj.Address"></textarea>
                                            <p ng-show="userForm.Address.$invalid && submitted" class="help-block">Worker ID required.</p>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>


                            <div>
                                <table class="table table-striped table-bordered inlineEditTable">
                                    <tr>
                                            <th>BU</th>
                                            <th width="60%">Location</th>
                                        <th width="50px;"></th>
                                    </tr>
                                    <tr ng-repeat="bu in clientObj.BUList">
                                            <td>
                                                <input type="text" class="form-control" ng-model="bu.BU" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="bu.Location" />
                                            </td>

                                        <td class="td-btn text-danger" ng-click="deleteBU($index)">
                                            <span class="fa fa-trash"></span>
                                        </td>
                                    </tr>
                                </table>

                                <a class="btn btn-success" ng-click="addBU()">
                                    <i class="fa fa-plus">&nbsp Add</i>
                                </a>
                            </div>
                        </div>
                    </div>


                </form>
            </div>

        </div>


    </div>



</div>