
<div ng-controller="ChangePasswordCtrl as ctrl">

    <div class="row border-bottom ng-scope top-button-panel">

        <ul class="pull-left nav-path font-bold">
            <li ng-repeat="item in viewsList track by $index" ng-class="{active: templateURL['url']==item.url }"><a ng-click="templateURL['url'] = item.url; templateURL.pageNo=$index;">{{item.name}}</a></li>
        </ul>

        <div class="btn-group pull-right m-t-sm" ng-show="templateURL.pageNo==0">
            <button class="btn btn-success" ng-click="change()"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
        </div>
    
    </div>

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-11">
                <form class="form-horizontal" name="userForm" autocomplete="off" novalidate>

                    <div class="ibox">

                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Current Password</label>

                                        <div class="col-lg-8">
                                            <input ng-model="changePasswordObj.CurrentPassword" type="password" class="form-control" />
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">New Password</label>

                                        <div class="col-lg-8">
                                            <input ng-model="changePasswordObj.NewPassword" type="password" class="form-control" />
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Confirm Password</label>

                                        <div class="col-lg-8">
                                            <input ng-model="changePasswordObj.ConfirmPassword" type="password" class="form-control" />
                                        </div>

                                    </div>

                                </div>

                            </div>
                             


                        </div>
                    </div>


                </form>
            </div>

        </div>


    </div>



</div>
