<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation --> 
    <navigation></navigation>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg">

        <!-- Page wrapper -->
        <topnavbar></topnavbar>

        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer --> 
        <footer></footer>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->