<!-- 
<div>

    <div class="row border-bottom ng-scope top-button-panel">
        <div class="pull-left nav-path font-bold">
            Home
        </div>
         
    </div>



    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-11">
                <form class="form-horizontal" name="userForm" autocomplete="off" novalidate>

                    <div class="ibox">

                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group" ng-class="{ 'has-error' : userForm.ClientName.$invalid && submitted  }">
                                        <label class="col-lg-4 control-label">Name</label>

                                        <div class="col-lg-8">

                                            <input type="text" required class="form-control" name="ClientName" ng-model="clientObj.ClientName" />


                                            <p ng-show="userForm.ClientName.$invalid && submitted" class="help-block">Name required.</p>
                                        </div>

                                    </div>

                                </div>
                            </div>
                             
                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group" ng-class="{ 'has-error' : userForm.Phone.$invalid && submitted  }">
                                        <label class="col-lg-4 control-label">Phone</label>

                                        <div class="col-lg-8">

                                            <input type="text" required class="form-control" name="Phone" ng-model="clientObj.Phone" />


                                            <p ng-show="userForm.Phone.$invalid && submitted" class="help-block">Phone required.</p>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group" ng-class="{ 'has-error' : userForm.Fax.$invalid && submitted  }">
                                        <label class="col-lg-4 control-label">Fax</label>

                                        <div class="col-lg-8">
                                            <input type="text" required class="form-control" name="Fax" ng-model="clientObj.Fax" />
                                            <p ng-show="userForm.Fax.$invalid && submitted" class="help-block">Fax required.</p>
                                        </div>

                                    </div>

                                </div>
                            </div>
                             


                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group" ng-class="{ 'has-error' : userForm.ContactPerson.$invalid && submitted  }">
                                        <label class="col-lg-4 control-label">Contact Person</label>

                                        <div class="col-lg-8">

                                            <input type="text" required class="form-control" name="ContactPerson" ng-model="clientObj.ContactPerson" />


                                            <p ng-show="userForm.ContactPerson.$invalid && submitted" class="help-block">Contact Person required.</p>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group" ng-class="{ 'has-error' : userForm.ContactPhone.$invalid && submitted  }">
                                        <label class="col-lg-4 control-label">Contact Phone</label>

                                        <div class="col-lg-8">

                                            <input type="text" required class="form-control" name="ContactPhone" ng-model="clientObj.ContactPhone" />


                                            <p ng-show="userForm.ContactPhone.$invalid && submitted" class="help-block">Contact Person required.</p>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="row">

                                <div class="col-lg-6">

                                    <div class="form-group" ng-class="{ 'has-error' : userForm.Address.$invalid && submitted  }">
                                        <label class="col-lg-4 control-label">Address</label>

                                        <div class="col-lg-8">
                                            <textarea required class="form-control" name="Address" ng-model="clientObj.Address" ></textarea>
                                            <p ng-show="userForm.Address.$invalid && submitted" class="help-block">Worker ID required.</p>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>


                </form>
            </div>

        </div>


    </div>
</div>

 

 -->
